/*
* ＊＊＊＊＊＊＊＊＊＊ Origin Design Settings
* Written by  VAF
* @author     VAF
* @copyright  Author
* @version    1.2.5 (xx/06/2020)
* ＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊ */

.pc_display{display:block;}
.sp_display,.tab_display{display:none !important;}

@include tab(){
  .pc_display {display:none !important;}
  .tab_display{display:block !important;}
  .sp_display {display:none !important;}
}
@include sp-w(){
  .pc_display {display:none !important;}
  .tab_display{display:none !important;}
  .sp_display {display:block !important;}
}

html,body{
  overflow-x: hidden;
}
input{
  line-height:1;
}
html{
  font-size: 62.5%;
}
body{
  @include fontsize(16);
  font-family:$base-font;
  font-weight: 400;
  line-height:1.8;
  color:$bk-a;
  font-feature-settings: "palt";
  -webkit-tap-highlight-color: transparent;
}
header,main,footer,section,a,nav,.base_section{
  position:relative;
}
a{
  display: inline-block;
  text-decoration: none;
  color: inherit;

  &:hover{
    opacity:0.75;
  }
}
header,main,footer{
  width:100%;
}
main{
  z-index:1;
}
section{
  z-index:1;
  article{
  }
}
.base_section{
}
.base_wrapper{
  @include Max-Wrap();
  @include tab-w(){
    padding:0 5%;
  }
}
.inner{
  width:90%;
  @include Max-Wrap();
}
.wrapper{
  position: relative;
  @include z-index(contents);
}
h2, h3, ul, dl, p{
  position: relative;
  @include z-index(contents);
}
.pict_wrap{
  position: relative;
  img{
    position: relative;
    width:100%; height:auto;
    max-width:100%;
    z-index: 1;
  }
}
object{
  pointer-events: none;
}

// 背景アニメーション
.bg-animation{
  color: $color-z;
  position: relative;
  @include pt(120);
  @include pb(120);

  &:after{
    @include pseudo;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    transition: $easeOutExpo 1s;
    will-change: width;
    transform: skewY(0);
  }
  > * {
    position: relative;
    @include z-index(contents);
  }
  &.inview{
    &:after{
      width: 100%;
      transform: skewY(-5deg);
    }
  }
  &.rd:after{
    background: $red;
  }
  &.bl:after{
    background: $blue;
  }
  &.yr:after{
    background: $yellow;
  }
}

// パーティクル
.bg-particles{
  width: 46%;
  height: 100%;
  max-height: 200px;
  @include pc{
    width: 40%;
    max-height: 900px;
  }
  @include z-index(particle);
  position: absolute;

  object{
    transform: translateY(100px);
    @include pc{
      transform: translateY(350px);
    }
    transform-origin: top;
    transition: all $easeOutQuint .5s;
    will-change: transform, opacity;
  }
  .bg1,.bg2,.bg3,.bg4{
    position: absolute;
  }
  .bg1{
    width: 47%;
    left: 4%;
    top: 0;
    transition-delay: 300ms;
  }
  .bg2{
    width: 47%;
    left: 10%;
    top: 50%;
    transition-delay: 600ms;
  }
  .bg3{
    width: 75%;
    left: -10%;
    top: 45%;
    transition-delay: 900ms;
  }
  .bg4{
    width: 46%;
    right: 10%;
    top: 53%;
    transition-delay: 1200ms;
  }
}
.inview.bg-particles object{
  transform: translateY(0);
}

// 見出し
h2{
  @include fontsize(60);
  font-weight: 700;
  @include mb(35);

  @include sp-w(){
    @include fontsize(48);
  }
  &.heading{
    small{
      display: block;
      @include fontsize(14);
      font-weight: normal;
    }
  }
  &.sub_heading{
    display:inline-block;
    @include fontsize(22);
    @include mb(10);
    @include pb(10);
    border-bottom:1px solid $color-z;

    small{
      margin-left:15px;
      @include fontsize(14);
      font-weight: normal;
    }
  }
}

.anim h2{
  will-change: transform;
}
.anim.inview h2{
}

// 見出し帯あり
.heading-bg{
  span{
    margin-bottom: rem(10);
    padding: .2em .5em;
    display: inline-block;
    position: relative;
    line-height: 1.2;
    color: transparent;
    transition: all ease 1s 1s;
    will-change: color;
    &:after{
      @include pseudo;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background: $color-y;
      transition: all $easeInOutCubic 1s;
      will-change: width;
      z-index: -1;
    }
    @for $i from 1 through 2 {
      &:nth-child(#{$i})::after{
        transition-delay: $i * 400ms;
      }
    }
  }
  &.inview span{
    color: $color-z;
    &:after{
      width: 100%;
    }
  }
  &.rd span:after{
    background: $red;
  }
}

// 写真
.photo{
  position: relative;
  overflow: hidden;
  &:after{
    @include pseudo;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    transition: all $easeOutQuint 1.5s;
    will-change: left;
  }
}
.inview .photo{
  &:after{
    left: 100%;
  }
}

// リスト
.anim-list li{
  position: relative;
}

// FadeIn Item
.fIUp{
  animation: fIUp cubic-bezier(0.22, 1, 0.36, 1) 2s;
}

// Flex Center
@include pc{
  .flex-between,.flex-center{
    display: flex;
  }
  .flex-between{
    justify-content: space-between;
  }
  .flex-center{
    justify-content: center;
  }
  .flex-wrap{
    flex-wrap: wrap;
  }
  .align-center{
    align-items: center;
  }
  .align-end{
    align-items: flex-end;
  }
}
