$image_path:/uploads/files/images/seminor/20801;
$bk-a:#333;
$blue-a:#5177dd;
$blue-b:#e8eeff;
$blue-c:#071d58;
$glay:#f2f2f2;
$white:#fff;
$green:#009e96;

$wide: 1280px;
$tab-w:1000px;
$pc:   641px;
$tab:  640px;
$sp:   480px;

$max-width:1150px;
$inner-width:1000px;

@mixin wide(){
  @media (min-width: ($wide)){
    @content;
  }
}
@mixin pc(){
  @media (min-width: ($pc)){
    @content;
  }
}
@mixin tab-w(){
  @media (max-width: ($tab-w)){
    @content;
  }
}
@mixin tab(){
  @media (max-width: ($tab)){
    @content;
  }
}
@mixin sp(){
  @media (max-width: ($sp)){
    @content;
  }
}
@mixin Flex_Center($direction:row,$wrap:nowrap){
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  flex-direction: $direction;
  flex-wrap: $wrap;
}
@mixin fontsize($size: 24, $base: 16) {
  @if $size == 10  {
    font-size: $size + px;
    font-size: ($size / ($base * 0.625)) + rem;
  } @else if $size == 12 {
    font-size: $size + px;
    font-size: ($size / ($base * 0.625)) + rem;
  } @else if $size == 14 {
    font-size: $size + px;
    font-size: ($size / ($base * 0.625)) + rem;
  } @else {
    font-size: $size + px;
    font-size: ($size / ($base * 0.625)) + rem;
    @include tab(){
      $size:$size * 0.98;
      font-size: $size + px;
      font-size: ($size / ($base * 0.625)) + rem;
    }
    @include sp(){
      $size:$size * 0.94;
      font-size: $size + px;
      font-size: ($size / ($base * 0.625)) + rem;
    }
  }
}
.pict_wrap{
  img{
    width:100%;
  }
}

.base_section{
  padding:80px 5%;

  @include tab(){
    padding:40px 5%;
  }

  *{
    line-height:1.8;
  }

  .base_wrapper{
    max-width:$max-width;
    margin:auto;

    .inner_wrap{
      max-width:$inner-width;
      margin:auto;
    }

    h2{
      text-align: center;
      @include fontsize(28);
      margin-bottom:35px;
      color:$blue-c;
    }

    p{
      @include fontsize(16);
    }

    p.fem{
      @include fontsize(18);
    }

    a{
      color:$blue-a;
      display:inline-block;
    }
    .nots{
      text-decoration: line-through;
    }
  }
}

.dot_list{
  li{
    &:before{
      content:"・";
      display: inline-block;
      margin-right:5px;
    }
  }
}
.sub_list{
  margin-left:20px;
  li{
    &:before{
      content:"－";
      display: inline-block;
      margin-right:5px;
    }
  }
}
.attention_list{
  li{
    &:before{
      content:"※";
      display: inline-block;
      margin-right:5px;
    }
  }
}
.btn_regs{
  margin-top:10px;
  @include Flex_Center();

  a{
    max-width:340px;
    @include Flex_Center();
    color:$white !important;
    border-radius: 5px;
    @include fontsize(20);
    font-weight:bold;
    background:$green;
    padding:20px 40px;

    &:hover{
      opacity:0.75;
    }

    @include tab(){
      margin:0 5%;
      font-size:16px;
      padding:10px 20px;
    }
  }
}

#CONTENTS_TITLE{
  padding:0;
  background:$glay;

  .base_wrapper{
    @include Flex_Center();
    background:$white;

    @include tab-w(){
      flex-direction: column;
    }

    .pict_wrap{
      width:65%;

      @include tab-w(){
        width:100%;
      }
    }

    .data_wrap{
      text-align: left;
      padding:20px;
      width:35%;

      @include tab-w(){
        width:100%;
      }

      h2{
        @include fontsize(18);
        font-weight:600;
        margin-bottom:35px;
      }
      dl{
        display: flex;
        align-items: center;
        margin-bottom:10px;

        dt,dd{
          @include fontsize(18);
          line-height:1;
        }
        dt{
          background:$blue-a;
          color:$white;
          padding:5px;
          font-weight:normal;
          margin-right:10px;
        }
        dd{
        }
      }
      .text_wrap{
        margin-bottom:35px;
      }

      .btn_set{
        a{
          @include Flex_Center();
          background:$blue-a;
          color:$white;
          font-weight:600;
          border-radius:100px;
          padding:10px;
          width:100%;

          &:hover{
            color:$white !important;
            opacity: 0.75;
          }
        }
      }
    }
  }
}

#CONTENTS_CATCH{
  background:$blue-b;
  text-align: center;

  ul{
    margin:auto;
    display: inline-block;
    border:1px solid $blue-c;
    background:$white;
    padding:35px;
    text-align: left;
    margin-bottom:35px;
  }

  p{
    text-align: left;

    &:not(:last-of-type){
      margin-bottom:35px;
    }
  }
}

#SEMINOR_GAIYO{
  dl{
    display:flex;
    border-bottom:1px solid $blue-c;

    @include tab(){
      flex-direction: column;
    }

    dt,dd{
      padding:15px;
    }

    dt{
      @include fontsize(18);
      color:$blue-a;
      min-width: 250px;
      padding-right:35px;

      @include tab(){
        padding-bottom:0;
      }
    }
    dd{
      @include tab(){
        padding-top:5px;
      }
    }
  }
  .pict_wrap{
    margin-top:35px;
    @include Flex_Center();

    img{
      width:33%;
    }
  }
}

#SEMINOR_TOKUTEN{
  background:$blue-b;

  .flex_wrap{
    display:flex;
    justify-content: space-between;

    @include tab(){
      flex-direction:column;
    }

    .pict_wrap{
      width:40%;
      @include tab(){
        width:100%;
      }
    }
    .text_wrap{
      margin-left:35px;
      width:59.5%;

      @include tab(){
        width:100%;
        margin-left:0;
        margin-top:15px;
      }
    }
  }
}

#SEMINOR_TEACHERS{
  .flex_wrap{
    display:flex;
    justify-content: space-between;
    &:not(:last-of-type){
      margin-bottom:35px;
      padding-bottom:35px;
      border-bottom:1px solid $blue-c;
    }

    @include tab(){
      flex-direction:column;
    }

    .pict_wrap{
      width:38%;
      overflow: hidden;
      @include tab(){
        width:100%;
      }
    }
    .text_wrap{
      margin-left:35px;
      width:60%;

      @include tab(){
        width:100%;
        margin-left:0;
        margin-top:15px;
      }

      dl{
        dt{
          span,strong{
            display:block;
          }
          strong{
            @include fontsize(24);
          }
          margin-bottom:35px;
        }
        dd{
          margin-bottom:35px;
        }
      }
    }

    .link_mov{
      text-align: right;

      a{
        color:$blue-a;
      }
    }
  }
}

#CONTENTS_FLOW{
  background:$blue-b;

  h3{
    text-align: center;
    @include fontsize(28);
    margin-bottom:35px;
    color:$blue-c;
  }
  h4{
    color:$blue-c;
    @include fontsize(18);
    border-bottom:2px solid $blue-c;
  }

  ol{
    background:$glay;
    padding:30px 5%;
    margin-bottom:35px;

    li{

      &:not(:last-of-type){
        margin-bottom:10px;
      }
      span:nth-of-type(1){
        display: inline-block;
        background:$bk-a;
        color:$white;
        margin-right:10px;
        padding:5px 10px;
        line-height: 1;
        border-radius: 3px;
      }
    }
  }

  iframe{
    margin:35px auto;
    max-width:100% !important;
  }

  .step_wrap{
    background:$glay;
    padding:30px 5%;
    margin-top:35px;
    margin-bottom:35px;

    h5{
      text-align: center;
      margin-bottom:35px;
    }

    ol{
      padding:0;
    }
  }
}

#JIMUKYOKU_FIELD{
  background:$white;

  .base_wrapper{
    @include Flex_Center();
    flex-direction: column;
    padding:45px;
    max-width:&$inner-width;
    border:2px solid $blue-c;

    @include tab(){
      padding:25px;
    }

    h4{
      @include fontsize(18);
    }

  }
}

.fred{
  color:red;
  font-weight:600;
}
.mt40px{
  margin-top:40px;
}
