//functions
$max-width: 1120px;
$pc:   981px;
$sp-w: 980px;
$sp:   640px;

@mixin pc(){
  @media (min-width: ($pc)){
    @content;
  }
}
@mixin sp-w(){
  @media (max-width: ($sp-w)){
    @content;
  }
}
@mixin sp(){
  @media (max-width: ($sp)){
    @content;
  }
}
@mixin Flex_Center($direction:row,$wrap:nowrap){
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  flex-direction: $direction;
  flex-wrap: $wrap;
}
.pc_display{display:block;}
.sp_display{display:none;}

@include sp(){
  .pc_display{display:none !important;}
  .sp_display{display:block !important;}
}

//KV setting
#kv-field{
  position: relative;
  width:100vw; height:100vh;
  min-height:210px;
  max-height:730px;
  background:url(../image/kv-pc.jpg) no-repeat center center / cover;

  @include sp-w(){
    max-height:480px;
  }
  @include sp(){
    padding-top:210px;
    height:auto;
    background:url(../image/kv-sp.jpg) no-repeat center center / cover;
  }

 a{
   display:block;
   width:100vw; height:100%;
   text-indent: -10000em;

   @include sp(){
     position: absolute;
     display: flex;
     align-items: center;
     align-content: center;
     justify-content: center;
     height:45px;
     background:#00a0e9;
     color:#fff;
     font-size:14px;
     text-decoration: none;
     text-indent: 0;
     text-align: center;
     border-bottom:5px solid #0488c4;
   }
 }
}

//common setting
section{
  padding:65px 5%;
}
.flex_wrapper{
  display:flex;
  flex-wrap: wrap;

  &.two{
    &>div{
      width:45%;
      margin:0 1%;

      @include sp(){
        width:98%;
      }
    }
  }
}

h2{
  margin-bottom:45px;

  span,strong{
    display:block;
    text-align: center;
  }
  span{
    font-size:18px;

    @include sp(){
      font-size:16px;
    }
  }
  strong{
    font-size:35px;

    @include sp(){
      font-size:19px;
    }
  }
}

//about setting
#about{
  background: url(../image/bg_y.png) no-repeat center center / cover;
  @include sp(){
    padding-top:120px;
  }

  ul{
    @include Flex_Center();

    @include sp-w(){
      flex-direction: column;
    }

    li{
      @include Flex_Center();
      min-width:320px; min-height:320px;
      margin:0 2% 35px;
      flex-direction: column;
      border: 5px solid #ccc;
      border-radius: 50%;
      background:#fff;
      padding: 25px;

      @include sp(){
        width:100%;
        max-height:200px;
        margin:0 2% 20px;
        border-radius: 0;
        padding: 15px;
      }

      dl{
        @include Flex_Center();
        flex-direction: column;

        dt{
          @include Flex_Center();
          flex-direction: column;
          font-size:22px;
          font-weight:600;

          &:after{
            display:inline-block;
            margin:15px auto;
            width:30px; height:30px;
            content:"";
          }
        }
        dd{
          font-size:16px;
        }
      }

      &:nth-of-type(1){
        border-color:#f39f13;
        dt{
          &:after{
            background:url(/wp-content/themes/7hj/images/icon/icon_curriculum_list_y.png) no-repeat center center / contain;
          }
        }
      }
      &:nth-of-type(2){
        border-color:#56c51f;
        dt{
          &:after{
            background:url(/wp-content/themes/7hj/images/icon/icon_curriculum_list_g.png) no-repeat center center / contain;
          }
        }
      }
      &:nth-of-type(3){
        border-color:#eb2876;
        dt{
          &:after{
            background:url(/wp-content/themes/7hj/images/icon/icon_curriculum_list_r.png) no-repeat center center / contain;
          }
        }
      }
    }
  }

  p{
    text-align: center;
    font-size:16px;
    line-height:1.8;

    @include sp(){
      text-align: left;
    }
  }
}

// method setting
#method{
  background: url(../image/bg_gb.png) no-repeat center center / cover;

  .flex_wrapper{
    @include Flex_Center();
    align-items: flex-start;
    align-content: flex-start;

    @include sp-w(){
      flex-direction: column;
    }

    .method_wrap{
      @include Flex_Center();
      flex-direction: column;
      @include sp-w(){
        width:100%;
      }


      padding:35px 3%;

      h3{
        @include Flex_Center();
        align-items: baseline;
        width:100%;

        img,object{
          height:55px;
        }

        span{
          padding:0 0 5px 10px;
        }
      }

      .pict_wrap{
        margin:25px 0;
        max-height:370px;
      }
      .text_wrap{
        background:rgba(#fff,0.8);
        padding:30px;
        text-align: left;
        border-radius:10px;

        p{
          font-size:16px;
        }

        p:not(:last-of-type){
          margin-bottom:25px;
        }
      }
    }
  }
}

//about 7hj setting
#about_7hj{
  background: url(../image/bg_y.png) no-repeat center center / cover;

  h2{
    @include Flex_Center();
    align-items: baseline;

    span{
      display: inline-block;
    }
    object{
      max-height:55px;
    }
  }

  .text_wrap{
    background:rgba(#fff,0.8);
    padding:55px 30px;
    border-radius:10px;
    text-align: center;
    max-width: 1024px;
    margin:auto;

    p{
      font-size:18px;
      @include sp(){
        font-size:14px;
      }
    }

    p:not(:last-of-type){
      margin-bottom:25px;
    }

    @include sp(){
      text-align: left;
    }
  }
}

//programs setting
#programs{
  position: relative;
  padding:0;
  background: url(../image/bg_manga.png) no-repeat center center / cover;
  z-index:1;

  #programs_head{
    position: relative;
    background:#00a0e9;
    padding: 65px 5%;
    z-index:3;

    h2,h2 *{
      margin:auto;
      color:#fff;
      text-align: right;
      @include sp(){
        text-align: center;
      }
    }
    h2{
      position: relative;
      max-width: $max-width;
      margin:auto;
      padding-right:190px;

      &:after{
        position: absolute;
        right:0; top:-50px;
        content:"";
        display:inline-block;
        min-width:170px; min-height:200px;
        background:url(../image/pict_program-heads.png) no-repeat center center / contain;
      }

      @include sp(){
        padding:0;
        @include Flex_Center();
        flex-direction: column;

        &:after{
          position: relative;
          top:20px;
        }
      }
    }
  }
  #programs_wrapper{
    position: relative;
    z-index: 10;
    max-width: $max-width;
    margin:auto;
    padding:100px 0 35px;

    @include sp(){
      justify-content: center;
    }

    &:before{
      content:"";
      display: inline-block;
      position: absolute;
      z-index:5;
      top:-200px;
      width:470px; height:550px;
      background:url(../image/sakuragi.png) no-repeat center center / contain;

      @include sp-w(){
        width:320px;
      }
      @include sp(){
        width:230px;
        left:0;
      }
    }

    .programs_wrap{
      position: relative;
      z-index:10;
      background:#fbf9de;
      margin:0 3% 55px;
      max-width:490px;
      width:45%;
      padding:150px 5% 45px;
      text-align: center;

      @include sp(){
        width:90%;
        padding:150px 4% 45px;
      }

      &:before{
        content:"";
        position: absolute;
        right:0; top:-30px;
        display: inline-block;
        width:178px; height:65px;
        z-index: 15;
      }
      &:nth-of-type(1):before{
        background:url(../image/day1.png) no-repeat center center / contain;
      }
      &:nth-of-type(2):before{
        background:url(../image/day2.png) no-repeat center center / contain;
      }
      &:nth-of-type(3):before{
        background:url(../image/day3.png) no-repeat center center / contain;
      }
      &:nth-of-type(4):before{
        background:url(../image/day4.png) no-repeat center center / contain;
      }

      h3{
        position: absolute;
        width:107%;
        padding:15px 5% 35px;
        z-index:13;
        left:-3%; top:45px;
        color:#fff;
        font-size:24px;
        font-weight:normal;
        text-align: left;
        background:url(../image/days_title-bg.png) no-repeat center center / contain;

        @include sp-w(){
          font-size:18px;
          padding:25px 5% 35px;
        }
        @include sp(){
          font-size:16px;
          padding:25px 5% 35px;
        }

        strong{
          font-weight:bold;

          &:before{
            content:"●";
            color:#fff100;
            display:inline-block;
            margin-right:5px;
          }
        }
      }

      .pict_wrap{
        img{
          margin:0 auto 35px;
        }
      }

    }
  }
}

//manga field setting
#manga_field{
  background: url(../image/bg_pen.png) no-repeat center top / cover;

  p{
    text-align: center;
  }
  .pict_wrap{
    img{
      margin:35px auto;
    }
  }

  ul{
    @include Flex_Center();
    @include sp-w(){
      flex-wrap: wrap;
    }

    li{
      max-width:320px;
      width:30%;
      background:#fff;
      padding:35px;
      border:2px solid #00a0e9;

      &:nth-of-type(2){
        margin:0 5%;
      }

      @include sp-w(){
        width:45%;

        &:not(:last-of-type){
          margin-bottom:35px;
        }
      }
      @include sp(){
        width:95%;
      }



      span{
        color:#000;
        text-decoration: none;
        font-size:18px;

        &:after{
          width:150px; height:105px;
          display: inline-block;
          margin:35px auto 0;
          content:"";
        }
      }

      &:nth-of-type(1) span:after{
        background:url(../image/icon-manga_01.png) no-repeat center center / contain;
      }
      &:nth-of-type(2) span:after{
        background:url(../image/icon-manga_02.png) no-repeat center center / contain;
      }
      &:nth-of-type(3) span:after{
        background:url(../image/icon-manga_03.png) no-repeat center center / contain;
      }
    }

  }
}

//games setting
#games_field{
  position: relative;
  background: url(../image/bg_b.png) no-repeat center top / cover;
  padding-bottom:2px !important;

  .games_wrapper{
    display: flex;
    justify-content: space-between;
    max-width: $max-width;
    margin:0 auto;

    @include sp-w(){
      flex-direction: column;
    }

    &:after{
      content:"";
      display:inline-block;
      width:565px; height:450px;
      background:url(../image/pict_games.png) no-repeat center center / contain;

      @include sp-w(){
        width:90%;
        height:350px;
        bavkground-position:center bottom;
      }
      @include sp(){
        height:250px;
      }
    }
    div{
      width:60%;

      @include sp-w(){
        width:100%;
      }

      h2{
        color:#fff;

        strong,span{
          text-align: left;

          @include sp-w(){
            text-align: center;
          }
        }
      }

      .text_wrap{
        background:#fff;
        padding:35px;
        border-radius: 10px;
        width:90%;

        line-height:1.8;
        font-size:18px;

        @include sp-w(){
          width:100%;
          padding:25px;
          font-size:16px;
          margin-bottom:35px;
        }
      }
    }
  }
}

//contact
#contact{
  background: url(../image/bg_manga.png) no-repeat center center / cover;

  .contact_wrap{
    max-width: $max-width;
    margin:auto;
    padding:35px;
    background:#fff;

    @include sp(){
      padding:25px;
    }


    &:nth-of-type(1){
      border:5px solid #ffda00;
      margin-bottom:35px;
    }
    &:nth-of-type(2){
      border:5px solid #eee;

      p{
        text-align: center;
        margin-bottom:35px;
      }
    }

    a{
      @include Flex_Center();
      color: #fff;
      background: #00a0e9;
      border-bottom: 5px solid #0488c4;
      min-width: 270px;
      max-width: 270px;
      height: 60px;
      margin:auto;
      text-decoration: none;

      &:hover{
        opacity: 0.75;
      }
    }
  }
}


// footer setting
footer{
  background:#000;
  div{
    small{
      max-width:$max-width;
      margin:auto;
    }
    &:nth-of-type(1){
      background:#313131;
      small{
        background:#313131;
      }
    }
    &:nth-of-type(2){
      background:#000;
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      max-width: $max-width;
      margin:auto;

      @include sp-w(){
        flex-direction: column;
      }

      ul{
        display: flex;
        align-items: center;
        align-content: center;

        @include sp(){
          margin-top:15px;
        }

        li{
          line-height: 1;
          &:nth-of-type(1){
            margin-right:10px;
            border-right:1px solid #fff;
            padding-right:10px;
          }
          a{
            color:#fff;
            text-decoration: none;
          }
        }
      }
      small{
        text-align: right;
        padding:10px 0;
        margin:0;

        @include sp(){
          text-align: center;
          line-height: 1.2;

          span{
            display:block;
          }
        }

      }
    }
  }
}
