@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

main, article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

table,
x:-moz-any-link {
	border-collapse: separate;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}

q, blockquote {
	quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
	content: "";
	content: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	display: block;
}

*, *::before, *::after {
	box-sizing: border-box;
}

a:focus, input:focus, select:focus, textarea:focus, button:focus {
	outline: none;
}

input, textarea {
	font-size: 16px;
}

img {
	vertical-align: bottom;
	border: none;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

object {
	pointer-events: none;
}

html, body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}

html {
	font-size: 12px;
}

@media only screen and (min-width: 980px) {
	html {
		font-size: 16px;
	}
}

body {
	font-family: 'Ubuntu', 'Noto Sans JP', sans-serif;
	font-feature-settings: "palt";
	-webkit-tap-highlight-color: transparent;
}

a {
	display: block;
	text-decoration: none;
	color: inherit;
}

a.txt-link {
	display: inline;
	text-decoration: underline;
}

img {
	max-width: 100%;
	height: auto;
}

.bg-stripe {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -1;
	display: flex;
	justify-content: space-around;
}

.bg-stripe .line {
	width: 12.5%;
	min-height: 100vh;
	background: #f0f0f0;
	animation: line cubic-bezier(0.87, 0, 0.13, 1) 1s 1.8s both;
}

@keyframes line {
	to {
		width: 1px;
	}
}

.bg-triangle {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	animation: fadeInUp cubic-bezier(0.22, 1, 0.36, 1) 2s 3.5s both;
	will-change: transform, opacity;
}

.bg-triangle svg {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}

@media only screen and (max-width: 979px) {
	.bg-triangle svg {
		max-width: 80px;
	}
}

.bg-triangle svg.svg-to-top {
	animation: toTop linear 2s infinite both;
	right: 0;
}

.bg-triangle svg.svg-to-bottom {
	animation: toBottom linear 2s infinite both;
}

@keyframes toTop {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-100vh);
		opacity: 0;
	}
}

@keyframes toBottom {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(100vh);
		opacity: 0;
	}
}

@media only screen and (max-width: 979px) {
	.pc {
		display: none;
	}
}

@media only screen and (min-width: 980px) {
	.sp {
		display: none;
	}
}

.inner {
	width: 90%;
	max-width: 1200px;
	margin: auto;
}

.wrapper {
	padding-top: 57px;
	position: relative;
	z-index: 20;
}

@media only screen and (min-width: 980px) {
	.wrapper {
		padding-top: 87px;
	}
}

h2, h3, ul, dl, p {
	position: relative;
	z-index: 20;
}

h2 {
	font-size: 3.75rem;
	font-weight: bold;
}

h2.heading small {
	display: block;
	font-size: 0.9375rem;
	font-weight: normal;
}

/*背景*/
.bg-animation {
	color: #fff;
	position: relative;
}

.bg-animation:after {
	width: 100%;
	display: block;
	position: absolute;
	content: "";
	width: 0;
	height: 100%;
	top: 0;
	left: 0;
	transition: cubic-bezier(0.16, 1, 0.3, 1) 1s;
	will-change: width;
}

.bg-animation > * {
	position: relative;
	z-index: 20;
}

.bg-animation.inview:after {
	width: 100%;
}

.bg-animation.rd:after {
	background: #EF001F;
}

.bg-animation.bl:after {
	background: #35ABEB;
}

.bg-animation.yr:after {
	background: #FFF100;
}

.anim h2 {
	transform: translateY(300px);
	opacity: 0;
	transition: all cubic-bezier(0.22, 1, 0.36, 1) 1.5s;
	will-change: transform;
}

.anim.inview h2 {
	transform: translateY(0);
	opacity: 1;
}

.heading-bg span {
	margin-bottom: 0.625rem;
	padding: .2em .5em;
	display: inline-block;
	position: relative;
	line-height: 1.2;
	color: transparent;
	transition: all ease 1s 1s;
	will-change: color;
}

.heading-bg span:after {
	width: 100%;
	display: block;
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: #000;
	transition: all cubic-bezier(0.65, 0, 0.35, 1) 1s;
	will-change: width;
	z-index: -1;
}

.heading-bg span:nth-child(1)::after {
	transition-delay: 400ms;
}

.heading-bg span:nth-child(2)::after {
	transition-delay: 800ms;
}

.heading-bg.inview span {
	color: #fff;
}

.heading-bg.inview span:after {
	width: 100%;
}

.heading-bg.rd span:after {
	background: #EF001F;
}

/* パーティクル */
.bg-particles {
	width: 46%;
	height: 100%;
	max-height: 200px;
	z-index: 10;
	position: absolute;
}

@media only screen and (min-width: 980px) {
	.bg-particles {
		width: 40%;
		max-height: 900px;
	}
}

.bg-particles object {
	transform: translateY(100px);
	transform-origin: top;
	transition: all cubic-bezier(0.22, 1, 0.36, 1) 0.5s;
	will-change: transform, opacity;
}

@media only screen and (min-width: 980px) {
	.bg-particles object {
		transform: translateY(350px);
	}
}

.bg-particles .bg1 {
	width: 47%;
	position: absolute;
	left: 4%;
	top: 0;
	transition-delay: 300ms;
}

.bg-particles .bg2 {
	width: 47%;
	position: absolute;
	left: 10%;
	top: 50%;
	transition-delay: 600ms;
}

.bg-particles .bg3 {
	width: 75%;
	position: absolute;
	left: -10%;
	top: 45%;
	transition-delay: 900ms;
}

.bg-particles .bg4 {
	width: 46%;
	position: absolute;
	right: 10%;
	top: 53%;
	transition-delay: 1200ms;
}

.inview.bg-particles object {
	transform: translateY(0);
}

.anim-list li {
	position: relative;
	opacity: 0;
	transform: translateY(100px);
	transition: all cubic-bezier(0.22, 1, 0.36, 1) 1s;
}

.anim-list li:nth-child(1) {
	transition-delay: 350ms;
}

.anim-list li:nth-child(2) {
	transition-delay: 700ms;
}

.anim-list li:nth-child(3) {
	transition-delay: 1050ms;
}

.anim-list li:nth-child(4) {
	transition-delay: 1400ms;
}

.anim-list li:nth-child(5) {
	transition-delay: 1750ms;
}

.anim-list li:nth-child(6) {
	transition-delay: 2100ms;
}

.anim-list li:nth-child(7) {
	transition-delay: 2450ms;
}

.anim-list li:nth-child(8) {
	transition-delay: 2800ms;
}

.anim-list li:nth-child(9) {
	transition-delay: 3150ms;
}

.inview .anim-list li {
	opacity: 1;
	transform: translateY(0);
}

/* 写真 */
.photo {
	position: relative;
	overflow: hidden;
}

.photo:after {
	width: 100%;
	display: block;
	position: absolute;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #fff;
	transition: all cubic-bezier(0.22, 1, 0.36, 1) 1.5s;
	will-change: left;
}

.inview .photo:after {
	left: 100%;
}

@media (hover: hover) {
	.hover-effect .hover-img {
		position: relative;
		overflow: hidden;
		display: block;
	}
	.hover-effect .hover-img img {
		transform: scale(1);
		transition: all cubic-bezier(0.22, 1, 0.36, 1) 1s;
	}
	.hover-effect:hover .hover-img img {
		transform: scale(1.2);
	}
}

/* ボタン */
.button {
	max-width: 270px;
	margin: 0 auto;
}

.button a {
	padding: .8rem 0;
	border: 2px solid #000;
	text-align: center;
	color: #fff;
	position: relative;
	overflow: hidden;
	z-index: 20;
}

.button a:hover {
	color: #000;
}

.button a:before {
	width: 100%;
	display: block;
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	bottom: 0;
	left: 0;
	background: #000;
	z-index: -1;
}

.button a:after {
	width: 100%;
	display: block;
	position: absolute;
	content: "";
	width: 0;
	height: 100%;
	bottom: 0;
	left: -60%;
	background: #fff;
	transform: skew(50deg);
	transition: all cubic-bezier(0.22, 1, 0.36, 1) 1s;
	z-index: -1;
}

.button a:hover:after {
	width: 220%;
}

@media only screen and (min-width: 980px) {
	.flex-between {
		display: flex;
		justify-content: space-between;
	}
	.flex-center {
		display: flex;
		justify-content: center;
	}
	.flex-wrap {
		flex-wrap: wrap;
	}
	.align-center {
		align-items: center;
	}
	.align-end {
		align-items: flex-end;
	}
}

@keyframes fadeInUp {
	from {
		transform: translateY(30px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

.header {
	display: none;
	width: 100%;
	padding: 2%;
	position: fixed;
	z-index: 30;
	background: #fff;
}

@media only screen and (min-width: 980px) {
	.header {
		/*padding: 20px 70px 20px 20px;*/
		padding: 10px 60px 10px 20px;
	}
}

.header-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header .globalnav {
	position: relative;
	z-index: 1;
}

.header .globalnav li a {
	margin: 0 1.75rem;
	padding: 0.6875rem 0;
}

.header .globalnav li.link-holdings a {
	margin: 0 0 0 0.25rem;
	padding: 0.6875rem 1.5rem;
	font-size: 0.875rem;
}

.header .globalmenu {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 2;
	left: 0;
	top: 0;
	border: 7px solid #EF001F;
	background: #fff;
	color: #EF001F;
	display: none;
	font-weight: bold;
}

.header .globalmenu-inner {
	height: 100%;
	padding: 5% 5% 1.5% 6%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	overflow-y: scroll;
}

.header .globalmenu-inner .globalmenu-block {
	width: 100%;
	margin-bottom: 10%;
	animation: fadeInUp cubic-bezier(0.22, 1, 0.36, 1) 1s both;
}

@media only screen and (min-width: 980px) {
	.header .globalmenu-inner .globalmenu-block {
		margin-bottom: 4%;
	}
}

@media only screen and (max-width: 979px) {
	.header .globalmenu-inner .globalmenu-block dl {
		margin-bottom: 5%;
	}
}

.header .globalmenu-inner .globalmenu-block:nth-child(1) {
	animation-delay: 500ms;
}

.header .globalmenu-inner .globalmenu-block:nth-child(2) {
	animation-delay: 700ms;
}

.header .globalmenu-inner .globalmenu-block:nth-child(3) {
	animation-delay: 900ms;
}

.header .globalmenu-inner .link-heading {
	margin-bottom: 1rem;
	font-size: 2.35rem;
}

.header .globalmenu-inner .catch {
	font-size: 2.35rem;
}

.header .globalmenu-inner .link-detail {
	margin-bottom: .5rem;
	font-size: 1.05rem;
}

.header .globalmenu-inner .external-links li {
	min-width: 21%;
	margin-bottom: .5rem;
}

@media only screen and (min-width: 980px) {
	.header .globalmenu-inner .external-links li:nth-child(4n) {
		text-align: right;
	}
}

.header .globalmenu-bottom {
	width: 100%;
	margin-top: 5%;
}

.header .globalmenu-bottom ul {
	display: flex;
	justify-content: flex-end;
}

@media only screen and (max-width: 979px) {
	.header .globalmenu-bottom ul {
		flex-wrap: wrap;
	}
	.header .globalmenu-bottom ul li {
		width: 50%;
		margin-left: 0;
	}
}

@media only screen and (min-width: 980px) {
	.header .globalmenu-bottom ul li {
		margin-left: 7%;
	}
}

.header .menubtn {
	position: absolute;
	z-index: 3;
	right: 1rem;
	cursor: pointer;
}

.header .menubtn svg .middle {
	transition: all cubic-bezier(0.65, 0, 0.35, 1) 0.3s;
}

.header .menubtn svg .top,
.header .menubtn svg .bottom {
	transition: all cubic-bezier(0.65, 0, 0.35, 1) 0.2s;
	transform-origin: center center;
}

.header .menubtn.open svg {
	fill: #EF001F;
}

.header .menubtn.open svg .middle {
	transform: translate(50px, 11px);
}

.header .menubtn.open svg .top {
	transform: translate(7px, 7px) rotate(-45deg);
}

.header .menubtn.open svg .bottom {
	transform: translate(-7px, 7px) rotate(45deg);
}

.bg-stripe .line {
	animation-delay: 0s;
}

.wrapper {
	animation: fadeInUp cubic-bezier(0.22, 1, 0.36, 1) 1.5s 2.2s both;
}

.main-visual {
	margin-bottom: 8rem;
	padding: 8.5rem 0 2.875rem;
	position: relative;
}

.main-visual:after {
	transition-delay: 2s;
}

.main-visual .breadcrumb {
	margin-top: 8.125rem;
}

.main-visual .breadcrumb a {
	display: inline;
}

.main-visual .main-bg {
	width: 68%;
	position: absolute;
	right: -5%;
	bottom: -14%;
	animation: fadeInUp cubic-bezier(0.22, 1, 0.36, 1) 1s 3s both;
}

@media only screen and (min-width: 980px) {
	.main-visual .main-bg {
		bottom: -47%;
	}
}

h3 {
	font-size: 2.5rem;
}

.pagination {
	margin-bottom: 2.8125rem;
}

.pagination ul {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	text-align: center;
}

.pagination ul li {
	margin: 0 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	text-align: center;
}

.pagination ul li a:nth-of-type(2) {
	margin-left: 3px;
}

.pagination ul li a, .pagination ul li span {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	text-align: center;
	width: 40px;
	height: 40px;
	text-decoration: none;
	color: #000;
	border: 1px solid #000;
}

.pagination ul li span {
	color: #fff;
	background: #000;
}

.pagination.nextprev_type ul {
	justify-content: space-between;
	max-width: 200px;
	margin: auto;
}

.main-visual {
	margin-bottom: 13rem;
}

.main-visual .heading, .main-visual .breadcrumb {
	color: #000;
}

.category_nav {
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 8rem auto 3rem;
	padding-bottom: 0.35rem;
	border-bottom: 3px solid #000;
}

.category_nav li {
	margin: 0 3%;
	display: flex;
	align-items: center;
}

.category_nav li a {
	font-size: 1.5rem;
	transition: all 0.5s ease 0s;
}

.category_nav li a:hover, .category_nav li a.active {
	color: #35ABEB;
}

.news_list article {
	margin-bottom: 4rem;
}

.news_list article ul li {
	margin-bottom: 0;
	display: flex;
	padding: 15px 0;
	border-bottom: solid 1px #b7b7b7;
}

.news_list article ul li a:hover {
	color: #35ABEB;
}

@media (max-width: 979px) {
	.news_list article ul li {
		flex-wrap: wrap;
	}
}

.news_list article ul li time, .news_list article ul li span {
	display: inline-block;
	line-height: 1.7;
}

.news_list article ul li time {
	min-width: 120px;
}

@media (max-width: 979px) {
	.news_list article ul li time {
		min-width: 80px;
	}
}

.news_list article ul li span.meta {
	min-width: 130px;
}

.news_list article ul li span.meta:before {
	content: "・";
	display: inline-block;
	margin-right: 3px;
}

@media (max-width: 979px) {
	.news_list article ul li span.text {
		width: 100%;
	}
}

.news_detail {
	margin-bottom: 3.4375rem;
}

.news_detail h3 {
	font-size: 1.3rem;
	margin-bottom: 0.9375rem;
}

.news_detail ul {
	display: flex;
	align-items: center;
	align-content: center;
	margin-bottom: 0.3125rem;
}

.news_detail ul li {
	display: flex;
	align-items: center;
	align-content: center;
}

.news_detail time {
	display: block;
	text-align: right;
	margin-bottom: 2.1875rem;
}

.news_detail .eyecatch {
	margin-bottom: 2.1875rem;
}

.news_detail .eyecatch img {
	width: 100%;
}

.news_detail .content_field {
	margin-bottom: 2.1875rem;
}

.news_detail .content_field p {
	margin-bottom: 0.9375rem;
	line-height: 2;
}

/*# sourceMappingURL=news.css.map */