@charset "UTF-8";
@keyframes active_menu {
	from {
		top: -100vh;
		height: 0;
	}
	to {
		top: 0;
		height: 100vh;
	}
}

@keyframes hidden_menu {
	from {
		top: 0;
		height: 100vh;
	}
	to {
		top: -100vh;
		height: 0;
	}
}

@keyframes line {
	to {
		width: 1px;
	}
}

@keyframes toTop {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-100vh);
		opacity: 0;
	}
}

@keyframes toBottom {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(100vh);
		opacity: 0;
	}
}

@keyframes fadeInUp {
	from {
		transform: translateY(30px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes fIUp {
	from {
		transform: translateY(30px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes arrow-r {
	0% {
		transform: translateX(0px);
	}
	100% {
		transform: translateX(10px);
	}
}

@keyframes slideOutRight {
	to {
		transform: translateX(9999px);
	}
}

@keyframes anim {
	to {
		transform: translate(0) skew(0) rotate(0) scale(1);
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
		filter: blur(0);
	}
	to {
		opacity: 0;
		filter: blur(10px);
	}
}

@keyframes mvLeft {
	0% {
		transform: translateY(0) scale(1);
	}
	85% {
		transform: translate(10rem, 7rem) scale(2);
	}
	100% {
		transform: translateY(0) scale(1);
	}
}

@keyframes mvRight {
	0% {
		transform: translateY(0) scale(1);
	}
	85% {
		transform: translate(0rem, -3rem) scale(1.8);
	}
	100% {
		transform: translateY(0) scale(1);
	}
}

.loading {
	width: 100%;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 40;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	text-align: center;
	flex-direction: row;
	flex-wrap: nowrap;
	background: #f0f0f0;
	color: #fff;
	animation: fadeOut cubic-bezier(0.87, 0, 0.13, 1) 1.2s 1.5s forwards, slideOutRight cubic-bezier(0.87, 0, 0.13, 1) 0.5s 2.7s forwards;
}

.loading .logo {
	width: 25%;
	max-width: 128px;
	margin: auto;
	z-index: 1;
	animation: fadeOut .85s .8s forwards;
}

/*
* ＊＊＊＊＊＊＊＊＊＊ Origin Design Settings
* Written by  VAF
* @author     VAF
* @copyright  Author
* @version    1.2.5 (xx/06/2020)
* ＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊ */
.pc_display {
	display: block;
}

.sp_display, .tab_display {
	display: none !important;
}

@media (max-width: 1098px) {
	.pc_display {
		display: none !important;
	}
	.tab_display {
		display: block !important;
	}
	.sp_display {
		display: none !important;
	}
}

@media (max-width: 540px) {
	.pc_display {
		display: none !important;
	}
	.tab_display {
		display: none !important;
	}
	.sp_display {
		display: block !important;
	}
}

html, body {
	overflow-x: hidden;
}

input {
	line-height: 1;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 16px;
	font-size: 1.6rem;
	font-family: "Noto Sans JP", "Ubuntu", 游ゴシック体, YuGothic, "Yu Gothic M", "游ゴシック Medium", "Yu Gothic Medium", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN W3", HiraKakuProN-W3, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: 400;
	line-height: 1.8;
	color: #333;
	font-feature-settings: "palt";
	-webkit-tap-highlight-color: transparent;
}

header, main, footer, section, a, nav, .base_section {
	position: relative;
}

a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

a:hover {
	opacity: 0.75;
}

header, main, footer {
	width: 100%;
}

main {
	z-index: 1;
}

section {
	z-index: 1;
}

.base_wrapper {
	margin: auto;
	max-width: 1200px;
}

@media (max-width: 1099px) {
	.base_wrapper {
		padding: 0 5%;
	}
}

.inner {
	width: 90%;
	margin: auto;
	max-width: 1200px;
}

.wrapper {
	position: relative;
	z-index: 20;
}

h2, h3, ul, dl, p {
	position: relative;
	z-index: 20;
}

.pict_wrap {
	position: relative;
}

.pict_wrap img {
	position: relative;
	width: 100%;
	height: auto;
	max-width: 100%;
	z-index: 1;
}

object {
	pointer-events: none;
}

.bg-animation {
	color: #fff;
	position: relative;
	padding-top: 120px !important;
	padding-bottom: 120px !important;
}

.bg-animation:after {
	width: 100%;
	display: block;
	position: absolute;
	content: "";
	width: 0;
	height: 100%;
	top: 0;
	left: 0;
	transition: cubic-bezier(0.16, 1, 0.3, 1) 1s;
	will-change: width;
	transform: skewY(0);
}

.bg-animation > * {
	position: relative;
	z-index: 20;
}

.bg-animation.inview:after {
	width: 100%;
	transform: skewY(-5deg);
}

.bg-animation.rd:after {
	background: #ef001f;
}

.bg-animation.bl:after {
	background: #0070cf;
}

.bg-animation.yr:after {
	background: #fff100;
}

.bg-particles {
	width: 46%;
	height: 100%;
	max-height: 200px;
	z-index: 10;
	position: absolute;
}

@media (min-width: 1200px) {
	.bg-particles {
		width: 40%;
		max-height: 900px;
	}
}

.bg-particles object {
	transform: translateY(100px);
	transform-origin: top;
	transition: all cubic-bezier(0.22, 1, 0.36, 1) 0.5s;
	will-change: transform, opacity;
}

@media (min-width: 1200px) {
	.bg-particles object {
		transform: translateY(350px);
	}
}

.bg-particles .bg1, .bg-particles .bg2, .bg-particles .bg3, .bg-particles .bg4 {
	position: absolute;
}

.bg-particles .bg1 {
	width: 47%;
	left: 4%;
	top: 0;
	transition-delay: 300ms;
}

.bg-particles .bg2 {
	width: 47%;
	left: 10%;
	top: 50%;
	transition-delay: 600ms;
}

.bg-particles .bg3 {
	width: 75%;
	left: -10%;
	top: 45%;
	transition-delay: 900ms;
}

.bg-particles .bg4 {
	width: 46%;
	right: 10%;
	top: 53%;
	transition-delay: 1200ms;
}

.inview.bg-particles object {
	transform: translateY(0);
}

h2 {
	font-size: 60px;
	font-size: 6rem;
	font-weight: 700;
	margin-bottom: 35px !important;
}

@media (max-width: 540px) {
	h2 {
		font-size: 48px;
		font-size: 4.8rem;
	}
}

h2.heading small {
	display: block;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: normal;
}

h2.sub_heading {
	display: inline-block;
	font-size: 22px;
	font-size: 2.2rem;
	margin-bottom: 10px !important;
	padding-bottom: 10px !important;
	border-bottom: 1px solid #fff;
}

h2.sub_heading small {
	margin-left: 15px;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: normal;
}

.anim h2 {
	opacity: 0;
	will-change: transform;
}

.heading-bg span {
	margin-bottom: 0.625rem;
	padding: .2em .5em;
	display: inline-block;
	position: relative;
	line-height: 1.2;
	color: transparent;
	transition: all ease 1s 1s;
	will-change: color;
}

.heading-bg span:after {
	width: 100%;
	display: block;
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: #000;
	animation: fadeInUp cubic-bezier(0.22, 1, 0.36, 1) 2s 3s both;
	will-change: width;
	z-index: -1;
}

.heading-bg span:nth-child(1)::after {
	transition-delay: 400ms;
}

.heading-bg span:nth-child(2)::after {
	transition-delay: 800ms;
}

.heading-bg.inview span {
	color: #fff;
}

.heading-bg.inview span:after {
	width: 100%;
}

.heading-bg.rd span:after {
	background: #ef001f;
}

.anim-list li {
	position: relative;
}

.fIUp {
	animation: fIUp cubic-bezier(0.22, 1, 0.36, 1) 2s;
}

@media (min-width: 1200px) {
	.flex-between, .flex-center {
		display: flex;
	}
	.flex-between {
		justify-content: space-between;
	}
	.flex-center {
		justify-content: center;
	}
	.flex-wrap {
		flex-wrap: wrap;
	}
	.align-center {
		align-items: center;
	}
	.align-end {
		align-items: flex-end;
	}
}

header {
	position: fixed;
	z-index: 90000;
	background: #fff;
	display: none;
}

header .header_inner {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	text-align: center;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

header .logo {
	line-height: 1;
}

header .spnav {
	transition: all  0.7s ease;
	position: fixed;
	top: -200vh;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 90000;
	border: 7px solid #ef001f;
	background: #fff;
	color: #ef001f;
	padding: 5% 5% 1.5%;
}

header .spnav.active {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	overflow-y: scroll;
	top: 0;
	animation: active_menu 0.5s ease-in-out 0s;
}

header .spnav.disactive {
	animation: hidden_menu 0.5s ease-in-out 0s;
}

header .spnav .nav_header, header .spnav .nav_block, header .spnav .group_list {
	margin-bottom: 4%;
	animation: fadeInUp cubic-bezier(0.22, 1, 0.36, 1) 1s both;
}

header .spnav .nav_header li:not(:last-of-type), header .spnav .nav_block li:not(:last-of-type) {
	margin-bottom: 0.5rem;
}

header .spnav .nav_header {
	width: 100%;
	animation-delay: 500ms;
}

header .spnav .nav_header dl {
	display: flex;
	justify-content: space-between;
	font-size: 32px;
	font-size: 3.2rem;
	width: 100%;
}

header .spnav .nav_header dl dd {
	font-weight: 700;
}

header .spnav .nav_block {
	animation-delay: 700ms;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

header .spnav .nav_block dl dt, header .spnav .nav_block dl dd {
	text-align: left;
}

header .spnav dt {
	font-size: 38px;
	font-size: 3.8rem;
	font-weight: 700;
	font-family: 'Ubuntu';
	text-align: left;
}

header .menu-trigger, header .menu-trigger span {
	display: inline-block;
	transition: all .4s;
	box-sizing: border-box;
}

header .menu-trigger {
	position: fixed;
	right: 1.5rem;
	width: 30px;
	height: 25px;
	cursor: pointer;
	z-index: 99999;
}

header .menu-trigger span {
	position: absolute;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: black;
	border-radius: 10px;
}

header .menu-trigger span:nth-of-type(1) {
	top: 0;
}

header .menu-trigger span:nth-of-type(2) {
	top: 11px;
}

header .menu-trigger span:nth-of-type(3) {
	bottom: 0;
}

header .menu-trigger.active span:nth-of-type(1) {
	top: -11px;
	-webkit-transform: translateY(20px) rotate(-315deg);
	transform: translateY(20px) rotate(-315deg);
}

header .menu-trigger.active span:nth-of-type(2) {
	opacity: 0;
}

header .menu-trigger.active span:nth-of-type(3) {
	-webkit-transform: translateY(-14px) rotate(315deg);
	transform: translateY(-14px) rotate(315deg);
	bottom: 0;
}

header .menu-trigger.active span {
	background: #ef001f;
}

header .nav_bottom {
	animation-delay: 900ms;
}

header .nav_bottom, header .group_list {
	width: 100%;
	animation: fadeInUp cubic-bezier(0.22, 1, 0.36, 1) 1s both;
}

header .nav_bottom ul, header .group_list ul {
	display: flex;
	flex-wrap: wrap;
}

header .group_list {
	animation-delay: 1100ms !important;
}

header .group_list ul li {
	min-width: 24%;
	margin-right: 1%;
	margin-bottom: .5rem;
	text-align: left;
}

header .nav_bottom {
	animation-delay: 1300ms;
	margin-top: auto;
}

header .nav_bottom ul {
	justify-content: flex-end;
}

header .nav_bottom ul li {
	margin-left: 7%;
}

@media (min-width: 1100px) {
	header .header_inner {
		padding: 10px 60px 10px 20px;
	}
	header .globalnav ul {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	header .globalnav ul li a {
		margin: 0 1.75rem;
		padding: 0.6875rem 0;
	}
	header .globalnav ul li.button a {
		margin: 0 0 0 0.25rem;
		padding: 0.6875rem 1.5rem;
		font-size: fontsize(14);
	}
}

@media (max-width: 1099px) {
	header .header_inner {
		padding: 2%;
	}
	.globalnav {
		display: none;
	}
}

@media (max-width: 1098px) {
	.nav_block {
		flex-wrap: wrap;
	}
	.nav_block dl {
		width: 50%;
		margin-bottom: 3%;
	}
}

@media (max-width: 540px) {
	.nav_header dl dt, .nav_block dl dt, .group_list dl dt, .nav_bottom dl dt {
		font-size: 28px;
		font-size: 2.8rem;
	}
	.nav_header dl dd, .nav_block dl dd, .group_list dl dd, .nav_bottom dl dd {
		font-size: 12px;
		font-size: 1.2rem;
	}
	.nav_header ul li, .nav_block ul li, .group_list ul li, .nav_bottom ul li {
		font-size: 12px;
		font-size: 1.2rem;
	}
	.nav_header dl {
		flex-direction: column;
	}
	.nav_header dl dt, .nav_header dl dd {
		text-align: left;
	}
	.nav_header dl dd {
		font-size: 24px;
		font-size: 2.4rem;
	}
	.nav_block {
		flex-wrap: wrap;
	}
	.nav_block dl {
		margin-bottom: 3%;
	}
	.group_list ul {
		flex-direction: column;
	}
	.group_list ul li {
		width: 100%;
		margin: 0 0 0.5rem;
	}
	.nav_bottom ul {
		justify-content: flex-start !important;
	}
	.nav_bottom ul li {
		margin: 0 0 0.5rem !important;
		width: 50%;
		text-align: left;
	}
}

.main-visual, .catch, .lead {
	position: relative;
}

.main-visual {
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
}

@media (max-width: 540px) {
	.main-visual {
		min-height: 90vh;
	}
}

.main-visual .catch {
	font-size: 84px;
	font-size: 8.4rem;
	font-weight: 700;
	letter-spacing: 0.3125rem;
	z-index: 20;
	animation: fadeInUp cubic-bezier(0.22, 1, 0.36, 1) 2s 4s both;
}

@media (max-width: 540px) {
	.main-visual .catch {
		font-size: 42px;
		font-size: 4.2rem;
	}
}

.main-visual .lead {
	font-size: 20px;
	font-size: 2rem;
	line-height: 1.78;
	z-index: 20;
	animation: fadeInUp cubic-bezier(0.22, 1, 0.36, 1) 2s 5s both;
}

@media (min-width: 541px) {
	.main-visual .lead {
		font-size: 28px;
		font-size: 2.8rem;
	}
}

.main-visual .particle-left {
	width: 100%;
	max-width: 800px;
	position: absolute;
	z-index: 10;
	left: -4rem;
	bottom: 45%;
	max-height: 50%;
	transform: skew(-70deg);
	animation: anim cubic-bezier(0.22, 1, 0.36, 1) 3s 3.2s forwards, mvLeft cubic-bezier(0.32, 0, 0.67, 0) 4s 3s;
}

@media (max-width: 540px) {
	.main-visual .particle-left {
		bottom: 35%;
	}
}

@media (max-width: 480px) {
	.main-visual .particle-left {
		bottom: 25%;
	}
}

.main-visual .particle-left .b1, .main-visual .particle-left .y1 {
	position: absolute;
	top: 0;
}

.main-visual .particle-left .b1 {
	width: 33%;
	left: -1.8%;
	transform: translate(-999px, -999px) rotate(180deg);
	animation: anim cubic-bezier(0.65, 0, 0.35, 1) 1s 3s forwards;
}

.main-visual .particle-left .y1 {
	width: 85%;
	position: absolute;
	left: 10%;
	transform: translate(999px, -1999px) rotate(-90deg);
	animation: anim cubic-bezier(0.65, 0, 0.35, 1) 1s forwards;
}

.main-visual .particle-right {
	width: 80%;
	max-width: 1270px;
	position: absolute;
	z-index: 10;
	right: -10%;
	bottom: 0;
	max-height: 90vh;
	transform: rotate(-50deg);
	animation: anim cubic-bezier(0.22, 1, 0.36, 1) 2.5s 3.5s forwards, mvRight cubic-bezier(0.32, 0, 0.67, 0) 4s 3s;
}

@media (max-width: 1098px) {
	.main-visual .particle-right {
		width: 100%;
		max-height: 75vh;
	}
}

@media (max-width: 540px) {
	.main-visual .particle-right {
		max-height: 90vh;
	}
}

.main-visual .particle-right .y2, .main-visual .particle-right .b2, .main-visual .particle-right .y3, .main-visual .particle-right .r1 {
	position: absolute;
	animation: anim cubic-bezier(0.65, 0, 0.35, 1) 1s forwards;
}

.main-visual .particle-right .y2 {
	width: 16.9%;
	top: -2%;
	left: 63%;
	transform: translate(-1999px, -1999px) rotate(180deg);
}

.main-visual .particle-right .b2 {
	width: 34%;
	top: 13%;
	left: 65%;
	transform: translate(-999px, -1999px) rotate(180deg);
}

.main-visual .particle-right .y3 {
	width: 31%;
	top: 41%;
	right: 4%;
	transform: translate(0px, -1999px) rotate(-360deg);
}

.main-visual .particle-right .r1 {
	width: 65%;
	left: 0;
	top: 41%;
	transform: translate(0px, -999px) scale(2) rotate(180deg);
}

.main-visual .particle:nth-child(1) {
	animation-delay: 3220ms;
}

.main-visual .particle:nth-child(2) {
	animation-delay: 3440ms;
}

.main-visual .particle:nth-child(3) {
	animation-delay: 3660ms;
}

.main-visual .particle:nth-child(4) {
	animation-delay: 3880ms;
}

.main-visual .particle:nth-child(5) {
	animation-delay: 4100ms;
}

.main-visual .particle:nth-child(6) {
	animation-delay: 4320ms;
}

.main-visual .particle:nth-child(7) {
	animation-delay: 4540ms;
}

.main-visual .particle:nth-child(8) {
	animation-delay: 4760ms;
}

footer .mod_bwp {
	margin: auto;
	max-width: 1100px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	text-align: center;
	flex-direction: row;
	flex-wrap: nowrap;
	padding: 35px 0;
}

@media (max-width: 1099px) {
	footer .mod_bwp {
		padding: 35px 5%;
	}
}

footer .mod_bwp img {
	max-width: 100px;
}

footer .mod_bwp p {
	margin-left: 35px;
	text-align: left;
}

@media (max-width: 540px) {
	footer .mod_bwp {
		flex-direction: column;
	}
	footer .mod_bwp p {
		margin: 15px 0 0;
	}
}

footer .footer_wrapper {
	background: #f0f0f0;
	padding-top: 50px !important;
	padding-bottom: 50px !important;
}

footer .footer_wrapper .base_wrapper {
	display: flex;
	justify-content: space-between;
	margin: auto;
}

footer .footer_wrapper .base_wrapper dl {
	width: calc(100% / 5.1);
}

footer .footer_wrapper .base_wrapper dl dt {
	margin-bottom: 10px !important;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 600;
}

footer .footer_wrapper .base_wrapper dl dd {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

@media (max-width: 540px) {
	footer .footer_wrapper .base_wrapper {
		flex-wrap: wrap;
	}
	footer .footer_wrapper .base_wrapper dl {
		width: 50%;
		margin-bottom: 35px !important;
	}
}

footer small {
	display: block;
	background: #ebebeb;
	padding: 5px 3%;
	font-size: 13px;
	font-size: 1.3rem;
	text-align: center;
}

.loading {
	width: 100%;
	height: 100vh;
	position: fixed;
	left: 0;
	z-index: 40;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #f0f0f0;
	color: #fff;
	animation: fadeOut cubic-bezier(0.87, 0, 0.13, 1) 1.2s 1.5s forwards, slideOutRight cubic-bezier(0.87, 0, 0.13, 1) 0.5s 2.7s forwards;
}

.loading .logo {
	width: 25%;
	max-width: 128px;
	margin: auto;
	z-index: 1;
	animation: fadeOut .85s .8s forwards;
}

.bg-stripe {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	z-index: -1;
	display: flex;
	justify-content: space-around;
}

.bg-stripe .line {
	width: 12.5%;
	min-height: 100vh;
	background: #f0f0f0;
	animation: line cubic-bezier(0.87, 0, 0.13, 1) 1s 1.8s both;
}

.bg-triangle {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	animation: fadeInUp cubic-bezier(0.22, 1, 0.36, 1) 2s 3.5s both;
	will-change: transform, opacity;
}

.bg-triangle svg {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}

@media (max-width: 480px) {
	.bg-triangle svg {
		max-width: 80px;
	}
}

.bg-triangle svg.svg-to-top {
	animation: toTop linear 2s infinite both;
	right: 0;
}

.bg-triangle svg.svg-to-bottom {
	animation: toBottom linear 2s infinite both;
}

.button {
	display: inline-block;
	margin: 0 auto;
}

.button a {
	display: inline-block;
	padding: 1.2rem 1.5rem !important;
	border: 2px solid #000;
	text-align: center;
	line-height: 1;
	color: #fff;
	position: relative;
	overflow: hidden;
	z-index: 20;
}

.button a:hover {
	color: #000;
	opacity: 1;
}

.button a:before {
	width: 100%;
	display: block;
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	bottom: 0;
	left: 0;
	background: #000;
	z-index: -1;
}

.button a:after {
	width: 100%;
	display: block;
	position: absolute;
	content: "";
	width: 0;
	height: 100%;
	bottom: 0;
	left: -60%;
	background: #fff;
	transform: skew(50deg);
	transition: all cubic-bezier(0.22, 1, 0.36, 1) 1s;
	z-index: -1;
}

.button a:hover:after {
	width: 220%;
}

.button.wt a {
	border: 2px solid #fff;
	color: #fff;
	display: inline-block;
	min-width: 270px;
}

.button.wt a:hover {
	color: #ef001f;
	opacity: 1;
}

.button.wt a:before {
	background: #ef001f;
}

.button.wt a:after {
	background: #fff;
	opacity: 1;
}

.whats .message {
	margin-bottom: 6rem;
	padding-left: 30%;
}

.whats .message h3 {
	margin-bottom: 1rem;
	font-size: 36px;
	font-size: 3.6rem;
	font-weight: 600;
}

@media (max-width: 540px) {
	.whats .message h3 {
		font-size: 28px;
		font-size: 2.8rem;
	}
}

.whats .message2 {
	padding-left: 50%;
	margin-bottom: 6rem;
}

.whats .message2 h3 {
	margin-bottom: 1rem;
	font-size: 34px;
	font-size: 3.4rem;
}

@media (max-width: 540px) {
	.whats .message2 h3 {
		font-size: 26px;
		font-size: 2.6rem;
	}
}

@media (max-width: 1099px) {
	.whats .message, .whats .message2 {
		padding-left: 0;
	}
}

.whats .btn_set {
	display: flex;
	justify-content: flex-end;
}

.whats .btn_set .button {
	margin: 0;
}

@media (min-width: 1100px) {
	.whats .bg-particles {
		max-height: 100%;
	}
}

@media (max-width: 1099px) {
	.whats .bg-particles {
		bottom: 0;
		max-height: 100%;
	}
}

@media (max-width: 1098px) {
	.whats .bg-particles {
		max-height: 200px;
	}
}

@media (max-width: 540px) {
	.whats .bg-particles {
		bottom: -10%;
	}
}

.team {
	margin-bottom: 14rem;
	padding: 8rem 0;
}

.team h2 {
	text-align: center;
}

.team ul {
	margin: auto;
	max-width: 1200px;
	display: flex;
	justify-content: space-between;
}

@media (max-width: 780px) {
	.team ul {
		flex-wrap: wrap;
	}
}

@media (max-width: 540px) {
	.team ul {
		flex-direction: column;
		justify-content: center;
		padding: 0 5%;
	}
}

.team ul li {
	max-width: 30%;
	margin: 0 2.5%;
}

.team ul li:nth-of-type(2) {
	top: 100px;
}

.team ul li:nth-of-type(3) {
	top: 200px;
}

@media (max-width: 780px) {
	.team ul li {
		max-width: 45%;
		margin: 0 auto 3rem;
		top: 0 !important;
	}
}

@media (max-width: 540px) {
	.team ul li {
		max-width: 95%;
	}
}

.team ul li:nth-child(1) {
	animation-delay: 201s ms;
}

.team ul li:nth-child(2) {
	animation-delay: 401s ms;
}

.team ul li:nth-child(3) {
	animation-delay: 601s ms;
}

.team ul li:nth-child(4) {
	animation-delay: 801s ms;
}

.team ul h3 {
	margin-bottom: 1rem;
	font-size: 32px;
	font-size: 3.2rem;
}

.team ul h3 strong {
	font-size: 44px;
	font-size: 4.4rem;
}

.team ul p {
	margin-bottom: 2rem;
	line-height: 2.1;
	font-size: 16px;
	font-size: 1.6rem;
}

.team ul dl dt {
	margin-bottom: 1rem;
	font-weight: 600;
}

.team ul dl dd {
	padding-left: 2rem;
	line-height: 2.1;
}

.team ul .pict_wrap {
	margin-bottom: 35px;
}

.team ul .pict_wrap:after {
	position: absolute;
	right: -20px;
	bottom: -20px;
	display: inline-block;
	content: "";
	background: #fff100;
	width: 100%;
	height: 100%;
}

.mb10 {
	margin-bottom: 10px !important;
}

.mb20 {
	margin-bottom: 20px !important;
}

.mb30 {
	margin-bottom: 30px !important;
}

.mb40 {
	margin-bottom: 40px !important;
}

.mb50 {
	margin-bottom: 50px !important;
}

.pb10 {
	padding-bottom: 10px !important;
}

.pb20 {
	padding-bottom: 20px !important;
}

.pb30 {
	padding-bottom: 30px !important;
}

.pb40 {
	padding-bottom: 40px !important;
}

.pb50 {
	padding-bottom: 50px !important;
}

.al {
	text-align: left !important;
}

.ar {
	text-align: right !important;
}

.ac, .ac img {
	margin: auto;
	text-align: center !important;
}

/*# sourceMappingURL=design.css.map */