
// Animation setting
@keyframes zoomUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}
@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}
@keyframes fadeOut {
  0% {opacity: 1}
  100% {opacity: 0}
}
@keyframes active_menu{
    from{
        left: -100vw;
    }
    to{
        left: 0;
    }
}
@keyframes hidden_menu{
    from{
        left: 0;
    }
    to{
        left: -100vw;
    }
}
