
// home BNR List
.home-bnr_list{
  @include pt(55);
  @include pb(55);

  @include sp-w(){
    padding:0 3%;
  }

  .base_wrapper{
    @include Flex_Center(row,wrap);
    justify-content: space-between;
    align-items: flex-start;

    @include tab(){
      flex-direction: column;
    }

    dl{
      width:48%;

      @include tab(){
        width: 100%;
      }

      dt{

        a{
          @include Flex_Center(row,wrap);
          justify-content: flex-start;
          align-content: flex-end;
          @include fontsize(24);
          padding:190px 0 10px 10px;
          max-height:200px;

          color:$color-z;
          background:$bk-c;

          @include tab(){
            padding-top:170px;
            @include fontsize(22);
          }
        }
      }

      dd{
        text-align: left;
        padding:15px 0;
      }

      &:nth-of-type(1) dt a{ background:url("#{$image_path}/home-bnr_kigyo.jpg") no-repeat center center / cover; }
      &:nth-of-type(2) dt a{ background:url("#{$image_path}/home-bnr_jigyo.jpg") no-repeat center center / cover; }
    }
  }



}


// Mod News
#MOD_NEWS{
  @include pb(85);

  .base_wrapper{
    position: relative;

    @include sp-w(){
      padding:0 3%;
    }

    h2{
      @include mb(35);
      @include fontsize(40);
      border-bottom:2px solid $bk-a;
    }
    nav{
      position: absolute;
      right:0; top:30px;

      @include sp-w(){
        right:3%;
      }

      ul{
        display:flex;
        justify-content: flex-end;

        li{
          margin-left:35px;
          color:$bk-e;

          @include tab(){
            margin-left:5px;
          }

          &.active{
            font-weight:600;
            color:$bk-a;
          }
        }
      }
    }
    .mod-news_wrapper{
      .news_wrap{
        @include mb(35);
        @include pb(35);
        border-bottom:1px solid $bk-a;

        .news_head{
          @include Flex_Center();
          justify-content: flex-start;
          @include mb(10);

          time{
            margin-right:10px;

            @include tab(){
              margin-right:25px;
            }
          }
          span{
            @include Flex_Center();
            min-width:120px; max-width:120px;
            padding:0;
            @include fontsize(13);
            border:1px solid $bk-a;
          }
        }
        .news_body{
          a{
            color:$bk-a;
          }
        }
      }
    }
  }
}

// 企業情報ページTOPのみ
#KIGYO_HOME-LISTS{
  @include mb(80);

  @include tab(){
    padding:0 3%;
  }

  .base_wrapper{
    @include Flex_Center(row,wrap);
    justify-content: space-between;
    align-items: flex-start;

    @include tab(){
      flex-direction: column;
    }

    dl{
      width:48%;
      @include mb(50);

      @include tab(){
        width: 100%;
      }

      dt{

        a{
          @include Flex_Center(row,wrap);
          justify-content: flex-start;
          align-content: flex-end;
          @include fontsize(24);
          padding:190px 0 10px 10px;
          max-height:200px;

          color:$color-z;
          background:$bk-c;

          @include tab(){
            padding-top:170px;
            @include fontsize(22);
          }
        }
      }

      dd{
        text-align: left;
        padding:15px 0;
      }

      &:nth-of-type(1) dt a{ background:url("#{$image_path}/panel_kigyo-houshin.jpg") no-repeat center center / cover; }
      &:nth-of-type(2) dt a{ background:url("#{$image_path}/panel_kigyo-daihyo.jpg") no-repeat center center / cover; }
      &:nth-of-type(3) dt a{ background:url("#{$image_path}/panel_kigyo-gaiyo.jpg") no-repeat center center / cover; }
      &:nth-of-type(4) dt a{ background:url("#{$image_path}/panel_kigyo-yakuin.jpg") no-repeat center center / cover; }
    }
  }
}
