@import "_setting";

//-----------------------------------------------------------------------------
// 下層ページ共通
//-----------------------------------------------------------------------------

// ローディングがないのでdelayを0に
.bg-stripe .line{
  animation-delay: 0s;
}
// ラインのアニメーションが終わってからコンテンツを出す
.wrapper{
  animation: fadeInUp $easeOutQuint 1.5s 2.2s both;
}
//下層ページメインビジュアル
.main-visual{
    margin-bottom:8rem;
    padding: rem(136) 0 rem(46);
    position: relative;
    &:after{
        transition-delay: 2s;
    }
    .breadcrumb {
        margin-top: rem(130);
        a{
            display: inline;
        }
    }
    .main-bg{
        width: 68%;
        position: absolute;
        right: -5%;
        bottom: -14%;
        @include pc{
          bottom: -47%;
        }
        animation: fadeInUp $easeOutQuint 1s 3s both;
    }
}
//下層ページ中見出し
h3{
  font-size: rem(40);
}

//ページャー
.pagination{
  margin-bottom:rem(45);

  ul{
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;

    li{
      margin:0 3px;
      display:flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      text-align: center;

      a:nth-of-type(2){
        margin-left:3px;
      }

      a,span{
        display:flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
        width:40px; height:40px;
        text-decoration: none;
        color:#000;
        border:1px solid #000;
      }
      span{
        color:#fff;
        background:#000;
      }
    }
  }
  &.nextprev_type{
    ul{
      justify-content: space-between;
      max-width:200px;
      margin:auto;
    }
  }
}
