@charset "UTF-8";

@import "_setting";
@import "_reset";
@import "_base";
@import "_globalnav";
@import "_subpage";

//-----------------------------------------------------------------------------
// Service
//-----------------------------------------------------------------------------

//メインビジュアル
.main-visual{}

//カテゴリナビ
.category_nav{
  display: flex;
  justify-content: center;
  text-align: center;
  margin:8rem auto;

  li{
    margin:0 3%;
    display: flex;
    align-items: center;

    a{
      font-size: rem(24);
      transition : all 0.5s ease 0s;

      &:hover,&.active{
        color:$blue;
      }
    }
  }
}

//リスト
.list_wrapper{
  margin-bottom: rem(55);

  .list_wrap{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &:after{
      content:"";
      display: inline-block;
      width:calc(100% / 2.2);
    }

    li{
      width:calc(100% / 2.2);
      margin-bottom: rem(35);
      @include sp {
        width:calc(100% / 1);
      }

      a{
        h4{
          margin-bottom: rem(15);

          strong,span{
            display:block;
          }
          strong{
            font-size: rem(20);
          }
          span{
            font-size: rem(16);
          }
        }
        .list_body{
          display:flex;

          figure{
            max-width:35%;
            margin-right:2%;
          }
          .text_wrap{
            max-width:63%;
          }
        }
      }
    }
  }
}
